#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#nit{
  color: white;
}
#nit:hover{
  color: red;
}
#intro{
  border-radius: 20px;
  border: 2px solid red;
  margin: 0.2%;
}



div.background{

  background-image: url("./images/bgimg2.jpeg");
  background-size:100%;
  background-position: center;
  height: auto;
  width: auto;
  
  
}
div.inbg{
 
  opacity: 1;
  
  
}
div.inbg p{
  margin: 2%;
  font-weight:600;
  color: #dadbf3;opacity: 1;
}
div.inbg h3{
  
 font-weight: bold;
  color: #eeff05;opacity: 1;
}
div.inbg h4{
  margin: 2%;
  
  color: #ffb005;opacity: 1;
}

#feat {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  
}
.featit{
  color:darkred;
  padding: 50px;
  width: auto;
  height: auto;
  max-width:500px;
  max-height: 240px;
  background-color:rgb(250, 214, 171);
  border: 2px  red;
  border-radius: 15px;
;
}
.featit:hover{
  filter: drop-shadow(0 0 2em #c11d07aa);
}
 .icons{
  margin: 3%;
  color:#eeff05;
 }
.icons:hover{
  color: magenta ;
  font-Size : large;
}
footer{
  background-color: #888;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
#footer1,#footer2{
  display: flex;
  flex-direction: column;
  margin: 2%;
  
}
#footer3,.icons{
  margin: 2%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
